body{
	background-color: #074321;
}

nav{
	background-color: gray !important;
	border-radius: 5em;
	margin-top: .75em;
	display: flex !important;
	justify-content: center !important;
	max-width: 50em !important; 
}

li{
	/* margin: 0 1.25em !important; */
}

nav a:hover{
	/* border-radius: 50%; */
}

h1{
	font-size: 10em !important;
	margin-top: 1em !important;
}

img{
	width: 20em;
}

.description{
	font-size: 1em;
	color: white;
}

.nav-icon{
	width: 1.5em;
}
