body{
	background-color: #074321;
}

nav{
	background-color: gray !important;
	border-radius: 5em;
	margin-top: .75em;
}

nav a:hover{
	border-radius: 50%;
}

h1{
	font-size: 6em !important;
}

img{
	width: 20em;
}

.description{
	font-size: 1em;
	color: white;
}

.nav-icon{
	width: 1.25em;
}